.ant-tabs-nav {
  margin: 0 !important;
}
.ant-tabs-tab {
  padding: 8px 14px !important;
  border-radius: 8px !important;
}
.ant-tabs-tab-active {
  background: #ffffff !important;
}
.ant-tabs-ink-bar {
  display: none !important;
}
